.card-title {
  font-size: 1rem;
}

.hover-shadow:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease-in-out;
}

.card-text {
  font-size: 0.875rem;
}

.object-fit-contain {
  object-fit: contain;
}
